
<!DOCTYPE html>
<!-- set document to default english for UK english not US -->
<html lang="en-GB">



<%- include('../Partials/head') %>


<body>
  <%- include('../Partials/banner') %>
  <%- include('../Partials/search') %>

  <%- include('../Partials/infobanner') %>
  <section class = "content-section flights-search-container  "> 
<h1>Manchester to Zante</h1>



<div class="date-bar-wrapper">
  <button class="scroll-btn Date-Scroll-Left">&lt;</button>
  
<ul class="date-bar">
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>

</ul>

<button class="scroll-btn DateScrollright">&gt;</button>

</div>

<div  class ="flight-list-Wrapper">
<!-- these will be used to hold the flight items -->


  </div>
    
  </section>


 
  <%- include('../Partials/footer') %>

<script src="../../Public/Javascript/togglesearch.js"></script>
<script src="../../Public/Javascript/DateScrollBar.js"></script>

<script src="../../Public/Javascript/getRequest.js"></script>
<script src="../../Public/Javascript/populateFlightList.js"></script>
<script src="../../Public/Javascript/convertDate.JS"></script>

</body>

