
<!DOCTYPE html>
<!-- set document to default english for UK english not US -->
<html lang="en-GB">



<%- include('../Partials/head') %>


<body>
  <%- include('../Partials/banner') %>
  <%- include('../Partials/search') %>

  <%- include('../Partials/infobanner') %>
  <section class = "content-section flights-search-container  "> 
<h1 class = "flightheading">Manchester to Zante</h1>



<div class="date-bar-wrapper">
  <button class="scroll-btn Date-Scroll-Left">&lt;</button>
  
<ul class="date-bar">
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>
<li class="datebar-item">
  Thurs 17 July
</li>

</ul>

<button class="scroll-btn DateScrollright">&gt;</button>

</div>

<div  class ="flight-list-Wrapper">
<!-- these will be used to hold the flight items -->

<article  class ="flight-item roundedbox">

  <div class ="data-codes datacode-outbound">
    <p class =" datacode-date outbound-date">date</p>
    <p class ="datacode-time outbound-time">time</p>
    <p class ="datacode-aircode  outbound-aircode">air code</p>
  </div>

  
  <div class="flight-line">
    <span class="dot"></span>
    <div class="line"></div>
   
    <div class="line"></div>
    <span class="dot"></span>
  </div>
  <div class="airline-info">
  
    <p>Flying with Virgin Atlantic</p>
  </div>

  <p class ="flight-length" >Length</p>
  <p class="flight-type">Direct</p>
  
  
  <div class ="data-codes datacode-inbound">
    <p  class =" datacode-date inbound-date">date</p>
    <p class ="datacode-time  inbound-time">time</p>
    <p class ="datacode-aircode inbound-aircode">air code</p>
  </div>

  <div class="data-codes-buttons">
    <button class="viewMoreButton" data-hotel-id="1">Continue</button>
    <button class="viewMoreButton" data-hotel-id="1">Continue</button>
    <button class="viewMoreButton" data-hotel-id="1">Continue</button>
  </div>

</article>


<article  class ="flight-item roundedbox">

  <div class ="data-codes datacode-outbound">
    <p class =" datacode-date outbound-date">date</p>
    <p class ="datacode-time outbound-time">time</p>
    <p class ="datacode-aircode  outbound-aircode">air code</p>
  </div>

  
  <div class="flight-line">
    <span class="dot"></span>
    <div class="line"></div>
   
    <div class="line"></div>
    <span class="dot"></span>
  </div>
  <div class="airline-info">
  
    <p>Flying with Virgin Atlantic</p>
  </div>

  <p class ="flight-length" >Length</p>
  <p class="flight-type">Direct</p>
  
  
  <div class ="data-codes datacode-inbound">
    <p  class =" datacode-date inbound-date">date</p>
    <p class ="datacode-time  inbound-time">time</p>
    <p class ="datacode-aircode inbound-aircode">air code</p>
  </div>

  <div class="data-codes-buttons">
    <button class="viewMoreButton" data-hotel-id="1">Continue</button>
    <button class="viewMoreButton" data-hotel-id="1">Continue</button>
    <button class="viewMoreButton" data-hotel-id="1">Continue</button>
  </div>

</article>


    <article  class ="flight-item roundedbox">

      <div class ="data-codes datacode-outbound">
        <p class =" datacode-date outbound-date">date</p>
        <p class ="datacode-time outbound-time">time</p>
        <p class ="datacode-aircode  outbound-aircode">air code</p>
      </div>
      
      <p class ="flight-length" >Length</p>
      <p class="flight-type">Direct</p>
      
      
      <div class ="data-codes datacode-inbound">
        <p  class =" datacode-date inbound-date">date</p>
        <p class ="datacode-time  inbound-time">time</p>
        <p class ="datacode-aircode inbound-aircode">air code</p>
      </div>

      <div class="data-codes-buttons">
        <button class="viewMoreButton" data-hotel-id="1">Continue</button>
        <button class="viewMoreButton" data-hotel-id="1">Continue</button>
        <button class="viewMoreButton" data-hotel-id="1">Continue</button>
      </div>

    </article>

  </div>
    
  </section>


 
  <%- include('../Partials/footer') %>

<script src="../../Public/Javascript/togglesearch.js"></script>
<script src="../../Public/Javascript/DateScrollBar.js"></script>

<script src="../../Public/Javascript/getRequest.js"></script>
<script src="../../Public/Javascript/populateFlightList.js"></script>
<script src="../../Public/Javascript/convertDate.JS"></script>

</body>

